/*бренды*/

.brand {
    display: flex;
    /* грид? */
    flex-direction: column;
    /* min-width: 100%; */
    background-color: var(--color-whitegray);
}

.brand__title {
    background: linear-gradient(45deg, #f8f8f8, #ffffff);
    width: 100%;
    max-width: 100%;
    padding: 16px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.brand__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .brand__list,
    .btn-arr-sh {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .brand__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .brand__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

.brand__item {
    width: 240px;
    height: 72px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}

.brand__item > img {
    max-width: 128px;
    object-fit: contain;
}

.brand__btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-pink);
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../img/brand.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* свайпер */
.swiper {
    width: 100%;
    min-width: 320px;
    padding: 0 16px 45px 16px !important;
    overflow: hidden;
    display: none;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    //     max-width: 240px;
    //     height: 72px;
    //     padding: 15px;
    //     box-sizing: border-box;
    //     border: 1px solid var(--color-gray);
    //     border-radius: 6px;
    //     background-color: var(--color-white);
}

.swiper-slide img {
    max-width: 128px;
    max-height: 52px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-slide .brand__btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* бренд типы цены */
.swiper--brand .swiper-slide {
    width: 240px;
    height: 72px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    padding: 15px;
    background-color: var(--color-white);
}

.swiper--type .swiper-slide {
    width: 240px;
    height: 160px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    padding: 10px;
    background-color: var(--color-white);
}

.swiper--price .swiper-slide {
    width: 240px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    padding: 16px;
    background-color: var(--color-white);
}

/* моб */
@media (max-width: 768px) {
    .brand__list,
    .type__list,
    .price-table,
    .btn-arr-sh {
        display: none !important;
    }
    .swiper {
        display: block !important;
    }
}

/* десктоп */
@media (min-width: 769px) {
    .swiper {
        display: none !important;
    }
}

/**/

/* показать скрыть */

.btn-arr {
    display: flex;
    border: none;
    background-color: transparent;
    gap: 8px;
    font-family: var(--text-medium);
    position: relative;
    padding-left: 20px;
}

.btn-arr::before {
    content: '';
    position: absolute;
    background-image: url(../img/arrow.svg);
    width: 8px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    display: none !important;
}

.cls-arr::before {
    transform: translateY(-50%) rotate(180deg);
}
