.logo {
    margin-right: 70px;
    margin-left: 10px;
    width: 97;
    height: 50;
    top: 19;
    left: 73;
    border: 0.5;
}

/*хедер*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-white);
    height: 88px;
    max-width: 1440px;
}

.btn__red {
    background-color: var(--color-pink);
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 50%;
}

/*иконки*/

.btn-exit {
    background-image: url(../img/exit.svg);
}

.btn-poisk {
    background-image: url(../img/lupa.svg);
}

.btn-call {
    background-image: url(../img/call.svg);
}

.btn-chat {
    background-image: url(../img/chat.svg);
}

.btn-people {
    background-image: url(../img/people.svg);
}

.btn-burger {
    background-image: url(../img/burger.svg);
}

.btn-repair {
    background-image: url(../img/repair.svg);
}

.btn-check {
    background-image: url(../img/checkstatus.svg);
}


/* АДАПТИВНЫЙ HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    margin: 0;
    position: static;
    transform: none;
}

@media (max-width: 768px) {
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
