.type {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

// .swiper--type {
//     width: 100%;
//     max-width: 768px;
//     min-width: 320px;
//     padding: 0 16px 45px 16px !important;
//     overflow: hidden;
//     display: none;
// }

// .swiper--type .swiper-wrapper {
//     display: flex;
// }

// .swiper--type .swiper-slide {
//     width: 240px;
//     height: 160px;
//     border: 1px solid var(--color-gray);
//     border-radius: 6px;
//     padding: 10px;
//     background-color: var(--color-white);
//     flex-shrink: 0;
// }

.type__title {
    background: linear-gradient(45deg, #f8f8f8, #ffffff);
    width: 100%;
    max-width: 100%;
    padding: 16px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.type__list {
    display: flex;
    gap: 15px;
}

.type__item {
    width: 240px;
    height: 160px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    padding: 10px;
    position: relative;
    background-color: var(--color-white);
}

.type__btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-pink);
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../img/brand.svg);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    bottom: 15px;
    right: 15px;
}
