// .type {

// }

.type__title {
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #f8f8f8, #ffffff);
    margin: 20px;
}

.type__list {
    display: flex;
    gap: 15px;
}

.type__item {
    width: 240px;
    height: 160px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    padding: 10px;
    position: relative;
    background-color: var(--color-white);
}

.type__btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-pink);
    border-radius: 50px;
    background-color: transparent;
    background-image: url(../img/brand.svg);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    bottom: 15px;
    right: 15px;
}
