/* 
.класс
# идентификатор 
тег 
:псевдокласс
::псевдоэлемент (чекбоксы) 
*/

@import url("styles/components/button.css");
@import url("styles/components/fonts.css");
@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");

/*шрифты*/

@font-face {
    font-family: "TTLakesBold";
    src: url("../../fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TTLakesRegular";
    src: url("../../fonts/TTLakes/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTLakesMedium";
    src: url("../../fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/*свг кнопок*/

.btn-exit {
    background-image: url(../../image/header/menu-burger/exit.svg);
}

.btn-poisk {
    background-image: url(../../image/header/menu-burger/lupa.svg);
}

.btn-call {
    background-image: url(../../image/header/menu-burger/call.svg);
}

.btn-chat {
    background-image: url(../../image/header/menu-burger/chat.svg);
}

.btn-people {
    background-image: url(../../image/header/menu-burger/people.svg);
}

.btn-burger {
    background-image: url(../../image/header/burger.svg);
}

.btn-repair {
    background-image: url(../../image/header/repair.svg);
}

.btn-check {
    background-image: url(../../image/header/checkstatus.svg);
} 

/**/

:root {
    --text-bold: "TTLakesBold";
    --text-regular: "TTLakesRegular";
    --text-medium: "TTLakesMedium";

    --color-pink: #ff3e79;
    --color-white: #ffffff;
    --color-whitegray: #f8f8f8;
    --color-gray: #7e7e82;

    /*
	---: 100% 100vh;  
*/
}

/**/

.body {
    flex-direction: column;
    background-color: var(--color-white);
    /*    
	justify-content: space-between;
    padding: 20px;
    margin-right: 10px;
    box-sizing: border-box;*/
}

body {
    font-family: var ();

    font-size: 20px;
    font-weight: 500;
    /*color: var();
	
	/*margin: 0;
	/*  position: relative;
    height: 100vh;*/

    width: 100vh;
}

.logo {
    width: 97;
    height: 50;
    top: 19;
    left: 73;
    border: 0.5;
    /*    background-color: aqua;*/
}

.photo1 {
    width: 320px;
    height: 230px;
    top: 358px;
}

/*
.menu-items {
	display: none;
}

.menu-toggle.active + .menu-items {
	display: block;
}
*/
