/* 
.класс
# идентификатор 
тег 
:псевдокласс
::псевдоэлемент (чекбоксы) 
*/

@import url("/styles/components/button.css");
@import url("/styles/components/fonts.css");
@import url("/styles/header.css");
@import url("/styles/main.css");


:root {
	--text-bold: "TTLakesBold";
	--text-regular: "TTLakesRegular";
	--text-medium: "TTLakesMedium";
	
	--color-pink: #FF3E79;
	--color-white: #FFFFFF;
	--color-gray: #7E7E82;

/*
	---: 100% 100vh;  
*/
} 

/*
button:active, a:active,  {
	background-color: var(--color-pink);
	transform: translateY(1px);
}
	*/


.total-class {
	display: flex;
	/*    
	justify-content: space-between;
    padding: 20px;
    margin-right: 10px;
    box-sizing: border-box;*/

	background-color: #FFFFFF;
	
}

body {
	font-family: var ();
	
	font-size: 20px;
	font-weight: 500;
	/*color: var();
	
	/*margin: 0;
	/*  position: relative;
    height: 100vh;*/
}




  
.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo {
	width: 97;
	height: 50;
	top: 19;
	left: 73;
	border: 0.5;
	/*    background-color: aqua;*/
}

.photo1 {
	width: 320px;
	height: 230px; 
	top: 358px;
}

/*
.menu-items {
	display: none;
}

.menu-toggle.active + .menu-items {
	display: block;
}
*/
