/* 
.класс
# идентификатор 
тег 
:псевдокласс
::псевдоэлемент (чекбоксы) 
*/

@import url("styles/components/button.css");
@import url("styles/components/fonts.css");
@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");

/**/

:root {
    --text-bold: "TTLakesBold";
    --text-regular: "TTLakesRegular";
    --text-medium: "TTLakesMedium";

    --color-pink: #ff3e79;
    --color-white: #ffffff;
    --color-whitegray: #f8f8f8;
    --color-gray: #7e7e82;
}

/**/

.body {
    flex-direction: column;
    background-color: var(--color-white);
}

body {
    font-size: 20px;
    font-weight: 500;
    width: 100vh;
}

.logo {
    width: 97;
    height: 50;
    top: 19;
    left: 73;
    border: 0.5;
}

.photo1 {
    width: 320px;
    height: 230px;
    top: 358px;
}
