button {
    cursor: pointer;
}

a {
    cursor: pointer;
}


/*
button:active, a:active,  {
	background-color: var(--color-pink);
	transform: translateY(1px);
}
	*/

.buttons {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

.buttons > li {
    list-style: none;
}

.btn__red {
    display: flex;
    align-items: center;
    border: none;
    /*none заменить? */
    background-color: var(--color-pink);
    padding: auto;

    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;

    border-radius: 50%;
    justify-content: center;

    transition: all 0.3s ease;

    background-repeat: no-repeat;
    background-position: center;
}

.btn__red:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
}

.btn__red:active {
    filter: hue-rotate(-15deg);
    transform: scale(1.2) rotate(9deg);
}

/**/

.button__arrow {
    display: flex;
    border: none;
    /*none убрать? */
    background-color: transparent;
    margin-bottom: 10px;
    gap: 8px;
    font-family: var(--text-regular);
}

/**/

.btn__lang {
    border: none;

    width: 25px;
    height: 24px;
    font-family: var(--text-regular);

    background-color: var(--color-white);
    margin-left: 5px;
}

.btn__lang:hover {
    color: var(--color-gray);
}

/**/

.about__list__btn {
    border: 2px solid transparent;
    width: 1fr;
    height: 40px;
    background-color: transparent;
    font-family: var(--text-regular);
    font-size: 16px;
    border-radius: 6px;
    white-space: nowrap;
}

.about__list__btn:hover {
    border: 2px solid #b8ffec;
}

/*иконки*/

/* перемещены в style.css */ 

/*

.btn-exit {
    background-image: url(/image/header/menu-burger/exit.svg);
}

.btn-poisk {
    background-image: url(/image/header/menu-burger/lupa.svg);
}

.btn-call {
    background-image: url(/image/header/menu-burger/call.svg);
}

.btn-chat {
    background-image: url(/image/header/menu-burger/chat.svg);
}

.btn-people {
    background-image: url(/image/header/menu-burger/people.svg);
}

.btn-burger {
    background-image: url(/image/header/burger.svg);
}

.btn-repair {
    background-image: url(/image/header/repair.svg);
}

.btn-check {
    background-image: url(/image/header/checkstatus.svg);
}

*/ 

/**/
 
