/**/

.red-btn {
	display: flex;
	align-items: center;
	border: none;
	/*none убрать? */ 
	background-color: var(--color-pink);
	/* transparent прозрачный*/
	padding: auto; /**/

	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-left: 10px; 

	border-radius: 50%;
	justify-content: center;

	transition: all 0.3s ease;

}

.red-btn:hover {
	transform: scale(1.15);
	transition: all 0.3s ease;
	
}

.red-btn:active {
	filter: hue-rotate(-15deg);
	transform: scale(1.2) rotate(9deg); 
}



.button__arrow {
	display: flex;
	border: none;
	/*none убрать? */
	background-color: transparent; 
	margin-bottom: 10px;
	gap: 8px;
	font-family: var(--text-regular);
}


.lang-btn {
	display: flex; 
	border: none;

	width: 25px;
	height: 24PX;
	font-family: var(--text-regular);

	background-color: var(--color-white);
	margin-left: 5px;

}

.lang-btn:hover {
	color: var(--color-gray);
}


/**/

/**/
 
 
.about__list__btn {
	border: 2px solid transparent;
	width: 1fr;
	height: 40px;
	background-color: transparent;
	font-family: var(--text-regular);
	font-size: 16px; 
	border-radius: 6px;
	white-space: nowrap;
}  



.about__list__btn:hover {
	border: 2px solid #B8FFEC;
}



.btn-exit {
	background-image: url(/image/header/menu-burger/exit.svg);
	background-repeat: no-repeat;
	background-position: center;
}





.btn-poisk {
	background-image: url(/image/header/menu-burger/lupa.svg);
	background-repeat: no-repeat;
	background-position: center;
}


.btn-call {
	background-image: url(/image/header/menu-burger/call.svg);
	background-repeat: no-repeat;
	background-position: center;
}




.btn-chat {
	background-image: url(/image/header/menu-burger/chat.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.btn-people {
	background-image: url(/image/header/menu-burger/people.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.btn-burger {
	background-image: url(/image/header/burger.svg);
	background-repeat: no-repeat;
	background-position: center;
}



.btn-repair {
	background-image: url(/image/header/repair.svg);
	background-repeat: no-repeat;
	background-position: center;
}




.btn-check {
	background-image: url(/image/header/checkstatus.svg);
	background-repeat: no-repeat;
	background-position: center;
}



















