
@font-face {
	font-family: "TTLakesBold";
	src: url("/fonts/TTLakes/TTLakes-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	
}

@font-face {
	font-family: "TTLakesRegular";
	src: url("/fonts/TTLakes/TTLakes-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	
}

@font-face {
	font-family: "TTLakesMedium";
	src: url("/fonts/TTLakes/TTLakes-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	
}



/**/








.title__line {
	display: flex;
	width: 5px;
	height: 40px;
	border-radius: 0 5px 5px 0;
	background-color: aquamarine;
}

	/*
.title__text {
    font-family: var();
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0.8rem;
    
}

	title__line - это через ::before


.about__text > p {
	
}

*/














