// $bgColor: #24292e;
// $text: #fff;
// color: $text;

/* 
.класс
# идентификатор 
тег 
:псевдокласс
::псевдоэлемент (чекбоксы) 
*/

@import './styles/about.scss';
@import './styles/brand.scss';
@import './styles/call.scss';
@import './styles/feedback.scss';
@import './styles/footer.scss';
@import './styles/header.scss';
@import './styles/prise.scss';
@import './styles/sidebar.scss';
@import './styles/type.scss';

// * {
//     // background-color: var(--color-whitegray);
//     /* margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: var(--text-regular); */
// }

:root {
    --text-bold: 'TTLakesBold';
    --text-regular: 'TTLakesRegular';
    --text-medium: 'TTLakesMedium';

    --color-pink: #ff3e79;
    --color-white: #ffffff;
    --color-whitegray: #f8f8f8;
    --color-gray: #7e7e82;
}

body {
    background-color: var(--color-whitegray);
    display: flex;
    justify-content: center;
    max-width: 1440px;
    /* background-color: var(--color-white); */
    font-family: var(--text-regular);
    font-size: 20px;
    font-weight: 500;

    z-index: 1;
}

li {
    list-style: none;
}

/*мейн*/

main {
    max-width: 1440px;
}

.layout {
    max-width: 1440px;
}

/*кнопки*/

a {
    cursor: pointer;
}

/* a:active,  {
	background-color: var(--color-pink);
	transform: translateY(1px);
} */

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    border: none; /* none заменить 0? (видео)*/
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.15);
}

button:active {
    filter: hue-rotate(-15deg);
    transform: scale(1.2) rotate(9deg);
}

/*  */

.buttons {
    display: flex;
}

/*шрифты*/

@font-face {
    font-family: 'TTLakesBold';
    src: url('../fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakesMedium';
    src: url('../fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTLakesRegular';
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
