header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.header__Layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* спрятанный из бургера + кнопка ?

	меню сбоку + спрятать
*/