
.title__text {
    font-family: var(--text-bold);
	position: relative;
	padding-left: 20px;

	/*
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0.8rem;
*/
}



.title__text::before {
	content: "";
	position: absolute;
	left: 0;
	
	top: 50%;
	transform: translateY(-50%);
		
	display: flex;
	width: 5px;
	height: 40px;
	border-radius: 0 5px 5px 0;
	background-color: aquamarine;

	
}




.about__text > p {
	font-family: var(--text-regular);
}




.main-layout {
	font-family: var(); 
}


/**/



 